body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    background-color: #333;
}

.interview_container{
    display: block;
    position: absolute;
    left: 21%;
    top: 12%;
    overflow-y: auto;
}

.title1{
    color: #2fb606;
    font-family: Roboto, Arial;
    font-weight: 900;
    vertical-align: baseline;
    text-align: center;
}

.nav-bar {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.interview {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #293335;
    border-radius: 5px;
    background-color: #293335;
}

.interview h2 {
    margin-top: 0;
    text-align: center;
}

.interview-date{
    color: white;
    display: block;
    width: 100%;
    text-align: center;
}

.interview-text{
    color: white;
    padding: 20px;
    text-align: center;
}
.youtube-frame {
    width: 100%;
    height: 315px;
    margin-bottom: 20px;
}